<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @objetos_mensura.descripcion %>
</p>

<%= link_to 'Edit', edit_objetos_mensura_path(@objetos_mensura) %> |
<%= link_to 'Back', objetos_mensuras_path %>
