<% unless @visadores.blank?%>
  <table  class="listado">
    <tr class="ui-widget-header listadoTitulo">
      
      <th>Agrimensor Visador</th>
      <th></th>
    </tr>
    <%  @visadores.each do |visador| %>
      <tr class="<%= cycle('par','impar') %>">
        <td><%= visador.apellido.upcase %></td>
      
        <td>
          <%= button_to 'Asignar', asignar_visadores_path(id: visador), method: :get ,remote: true %>
        </td>
      </tr>
    <% end %>
  </table>

<% else %>
  No se encontraron visadores seg&uacute;n el criterio de b&uacute;squeda.
<% end %>