<fieldset class="ui-widget ui-widget-content ui-corner-all">
  <legend class="ui-widget ui-widget-header ui-corner-all">Buscar Agrimensor Visador</legend>  
  <!--<h1>Buscar Mensura</h1>-->
  <div id='form_visador'>
    <%= form_for "visador", url: resultado_busqueda_visadores_path, remote: true do |f| %>
     

      <table id="form-horizontal">
        <tbody>
          <tr>
            <th>
              Apellido:
            </th>
            <td>
              <%= f.text_field :apellido %>&nbsp;&nbsp;
            </td>
            <td>
              <%= f.submit "Buscar"%>&nbsp;&nbsp;
            </td>
          </tr>          
        </tbody>
      </table>
    <% end %>
  </div>
  <div id="resultado"></div>
</fieldset>
