<div id="content">

 
<!--  
-->

     <!-- <form action="http://132.147.168.30/i-sicat/propiedades" class="new_propiedad" id="new_propiedad" method="post">
      <div style="margin:0;padding:0;display:inline">
        <input name="authenticity_token" type="hidden" value="JEn9K2yYNhayGMbMgAOT8d7jXor1gMSe2XZI67schp4=">
      </div>-->
      
      


 
 <!-- <table id="form-horizontal">
      <tbody>
        <tr>
        <th>
        <input class="number ui-widget-content valid" id="t-partida" maxlength="12" name="propiedad[partida]" size="12" style="" type="text">&nbsp; &nbsp;
        <input class="submit ui-button ui-widget ui-state-default ui-corner-all" name="commit" type="submit" value="Buscar" role="button" aria-disabled="false">
        </th>
        </tr>
          
      </tbody>
      </table>
    </fieldset>
  </div>
</div>-->
    
    