div.main{height:70%;margin:0;padding:20px 20px 20px 30px;font:20px Lucida Grande,Lucida Sans,Arial,Sans-serif; border: 2px solid #000; border-radius: 2em 2em 2em 2em}
h1{width: 400px;
height: 50px;
padding: 5px;
border­radius: 50px;
background­color: #fcc;
font­size: 0.8em;
align: justify; font-size:45px; border: 4px dashed #000; border-radius: 0em 5em 5em 5em}
a{color:#33c;text-decoration:none;font-weight:normal}
div.main2{height:70%;margin:0;padding:20px 20px 20px 30px;font:18px Lucida Grande,Lucida Sans,Arial,Sans-serif; text-align:right; border: 2px solid #000; border-radius: 2em 2em 2em 2em}
