     
       <div id="menu">
      


      <div class="cmDiv"><ul id="menu1" class="clickMenu">
        
            
            
                
                      <li id="primero" class="main">
                        Propiedades
                        <div class="outerbox inner" style="position: absolute;"><div class="shadowbox1"></div><div class="shadowbox2"></div><div class="shadowbox3"></div><ul class="innerBox">
                            
                                  
                                  
                                    
                                        <li onclick="javascript:location.href=&#39;http://132.147.168.30/i-sicat/consultas&#39;">
                                          Consulta
                                        </li>
                                    
                            
                                  
                                  
                                    
                                        <li onclick="javascript:location.href=&#39;http://132.147.168.30/i-sicat/propiedades/new&#39;">
                                          Alta
                                        </li>
                                    
                            
                        </ul></div>
                      </li>
                
        			<li id="primero" class="main">
                        Mensuras
                        <div class="outerbox inner" style="position: absolute;"><div class="shadowbox1"></div><div class="shadowbox2"></div><div class="shadowbox3"></div><ul class="innerBox">
                            
                                  
                                  
                                    
                                        <li onclick="javascript:location.href=&#39;http://132.147.168.30/i-sicat/consultas&#39;">
                                          Consulta
                                        </li>
                                    
                            
                                  
                                  
                                    
                                        <li onclick="javascript:location.href=&#39;http://132.147.168.30/i-sicat/propiedades/new&#39;">
                                          Alta
                                        </li>
                                    
                            
                        </ul></div>
                      </li>
            
            
                
                      <li id="primero" class="main">
                        Personas
                        <div class="outerbox inner" style="position: absolute;"><div class="shadowbox1"></div><div class="shadowbox2"></div><div class="shadowbox3"></div><ul class="innerBox">
                            
                                  
                                  
                                    
                                        <li onclick="javascript:location.href=&#39;http://132.147.168.30/i-sicat/titulares&#39;">
                                          Consulta
                                        </li>
                                    
                            
                                  
                                  
                                    
                                        <li onclick="javascript:location.href=&#39;http://132.147.168.30/i-sicat/titulares/new&#39;">
                                          Alta
                                        </li>
                                    
                            
                        </ul></div>
                      </li>
                
        
            
            
                
                      <li id="primero" class="main">
                        Expedientes
                        <div class="outerbox inner" style="position: absolute;"><div class="shadowbox1"></div><div class="shadowbox2"></div><div class="shadowbox3"></div><ul class="innerBox">
                            
                                  
                                  
                                    
                                        <li onclick="javascript:location.href=&#39;http://132.147.168.30/i-sicat/expedientes/tablero&#39;">
                                          Tablero
                                        </li>
                                    
                            
                                  
                                  
                                    
                                        <li onclick="javascript:location.href=&#39;http://132.147.168.30/i-sicat/expedientes/buscar&#39;">
                                          Buscar
                                        </li>
                                    
                            
                                  
                                  
                                    
                                        <li onclick="javascript:location.href=&#39;http://132.147.168.30/i-sicat/expedientes/new&#39;">
                                          Nuevo
                                        </li>
                                    
                            
                                  
                                  
                                    
                                        <li onclick="javascript:location.href=&#39;http://132.147.168.30/i-sicat/expedientes/reporte&#39;">
                                          Reporte
                                        </li>
                                    
                            
                        </ul></div>
                      </li>
                
        
            
            
                
                      <li id="primero" class="main">
                        Administración
                        <div class="outerbox inner" style="position: absolute;"><div class="shadowbox1"></div><div class="shadowbox2"></div><div class="shadowbox3"></div><ul class="innerBox">
                            
                                  
                                  
                                    
                                        <li>
                                          Parametrización urbana
                                              
                                                    
                                                      
                                                      
                                                          <li onclick="javascript:location.href=&#39;http://132.147.168.30/i-sicat/calles&#39;">
                                                            Calles
                                                          </li>
                                                      
                                              
                                                    
                                                      
                                                      
                                                          <li onclick="javascript:location.href=&#39;http://132.147.168.30/i-sicat/barrios&#39;">
                                                            Barrios
                                                          </li>
                                                      
                                              
                                                    
                                                      
                                                      
                                                          <li onclick="javascript:location.href=&#39;http://132.147.168.30/i-sicat/manzanas&#39;">
                                                            Manzanas
                                                          </li>
                                                      
                                              
                                                    
                                                      
                                                      
                                                          <li onclick="javascript:location.href=&#39;http://132.147.168.30/i-sicat/aforos&#39;">
                                                            Aforos
                                                          </li>
                                                      
                                              
                                          </ul></div>
                                        </li>
                                    
                            
                        </ul></div>
                      </li>
                
        
        
          
            
	          <li id="primero" onclick="javascript:window.open(&#39;http://isicat.catastro.corrientes.gov.ar:8008/mapguide/gis/viewer.jsp?uid=200&amp;cre=Plbwtxzl5QseZAUHwSZj90p0vb6uWyIkScJcTEFebzkLptDbTstDpZ7ZB3y5Q6euFI%2FOqOa13wzcG66zbBQv1N5QjmL%2FbxEsWgRlYjPRF3yXGIv55NO4lMdM%2FY9H2LPBgUlg9q2207Zl4uZa%2BEiB48lApLslB0Q8rXS63X9reUJJQBHPZfK1HLlfGEI1KTAQ5XtLwre%2BvTESOXJeZhEr2A%3D%3D&amp;addr=132.147.168.30&#39;,&#39;mywindow&#39;,&#39;width=1024,height=768&#39;)" class="main">Sig</li>
          
        
      </ul><div style="clear: both; visibility: hidden;"></div></div>
<br>


          </div>